body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.text{
  color: orange;
  font: 200px;
  font-family: 'Rampart One', cursive;  /* transform: translateX(-50% -50%); */
  text-align: center;
}

.button {
  background-color: #0070c0; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 16px -72.66667px #2200ff, 62px -73.66667px #001eff, -102px 77.33333px #2bff00, -165px -186.66667px #ff0073, 4px -306.66667px #b3ff00, -43px -256.66667px #00ff99, 72px -327.66667px #00d5ff, -88px -136.66667px #00ffa6, -212px -26.66667px #09ff00, -111px -38.66667px #3700ff, -174px -188.66667px #00ffcc, 25px -175.66667px #ff00a2, -209px -44.66667px #00ddff, -14px -285.66667px #0091ff, -34px -170.66667px #aa00ff, 38px -398.66667px #006aff, -26px 41.33333px #ea00ff, -166px -69.66667px #8800ff, -117px -74.66667px #0044ff, -181px 32.33333px #ff1500, 83px -271.66667px #ff0048, -21px -316.66667px #ff00b3, 29px -85.66667px #f7ff00, 177px 65.33333px #bb00ff, 159px -374.66667px #ae00ff, 51px -46.66667px #00ffa6, -201px 72.33333px #0011ff, -207px -65.66667px #00ff3c, 224px -390.66667px #aaff00, 46px -313.66667px #ff00a2, 59px -55.66667px #ee00ff, 106px -393.66667px #0073ff, 242px -325.66667px #a2ff00, 165px -57.66667px yellow, -73px 31.33333px #3300ff, -22px -61.66667px #0044ff, -7px -163.66667px #0059ff, 25px -296.66667px #00eeff, -209px -148.66667px #00ff77, 217px 76.33333px #ff1e00, -214px -18.66667px #ff0011, 18px 51.33333px deepskyblue, -172px -401.66667px #ff00c8, -67px -186.66667px #ffd500, 169px -265.66667px #00ccff, 107px -38.66667px magenta, -168px 83.33333px #b7ff00, -105px -201.66667px #ff0d00, -120px -179.66667px #00f7ff, -134px -273.66667px #4000ff, -237px -28.66667px #e6ff00;
            box-shadow: 16px -72.66667px #2200ff, 62px -73.66667px #001eff, -102px 77.33333px #2bff00, -165px -186.66667px #ff0073, 4px -306.66667px #b3ff00, -43px -256.66667px #00ff99, 72px -327.66667px #00d5ff, -88px -136.66667px #00ffa6, -212px -26.66667px #09ff00, -111px -38.66667px #3700ff, -174px -188.66667px #00ffcc, 25px -175.66667px #ff00a2, -209px -44.66667px #00ddff, -14px -285.66667px #0091ff, -34px -170.66667px #aa00ff, 38px -398.66667px #006aff, -26px 41.33333px #ea00ff, -166px -69.66667px #8800ff, -117px -74.66667px #0044ff, -181px 32.33333px #ff1500, 83px -271.66667px #ff0048, -21px -316.66667px #ff00b3, 29px -85.66667px #f7ff00, 177px 65.33333px #bb00ff, 159px -374.66667px #ae00ff, 51px -46.66667px #00ffa6, -201px 72.33333px #0011ff, -207px -65.66667px #00ff3c, 224px -390.66667px #aaff00, 46px -313.66667px #ff00a2, 59px -55.66667px #ee00ff, 106px -393.66667px #0073ff, 242px -325.66667px #a2ff00, 165px -57.66667px yellow, -73px 31.33333px #3300ff, -22px -61.66667px #0044ff, -7px -163.66667px #0059ff, 25px -296.66667px #00eeff, -209px -148.66667px #00ff77, 217px 76.33333px #ff1e00, -214px -18.66667px #ff0011, 18px 51.33333px deepskyblue, -172px -401.66667px #ff00c8, -67px -186.66667px #ffd500, 169px -265.66667px #00ccff, 107px -38.66667px magenta, -168px 83.33333px #b7ff00, -105px -201.66667px #ff0d00, -120px -179.66667px #00f7ff, -134px -273.66667px #4000ff, -237px -28.66667px #e6ff00;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 16px -72.66667px #2200ff, 62px -73.66667px #001eff, -102px 77.33333px #2bff00, -165px -186.66667px #ff0073, 4px -306.66667px #b3ff00, -43px -256.66667px #00ff99, 72px -327.66667px #00d5ff, -88px -136.66667px #00ffa6, -212px -26.66667px #09ff00, -111px -38.66667px #3700ff, -174px -188.66667px #00ffcc, 25px -175.66667px #ff00a2, -209px -44.66667px #00ddff, -14px -285.66667px #0091ff, -34px -170.66667px #aa00ff, 38px -398.66667px #006aff, -26px 41.33333px #ea00ff, -166px -69.66667px #8800ff, -117px -74.66667px #0044ff, -181px 32.33333px #ff1500, 83px -271.66667px #ff0048, -21px -316.66667px #ff00b3, 29px -85.66667px #f7ff00, 177px 65.33333px #bb00ff, 159px -374.66667px #ae00ff, 51px -46.66667px #00ffa6, -201px 72.33333px #0011ff, -207px -65.66667px #00ff3c, 224px -390.66667px #aaff00, 46px -313.66667px #ff00a2, 59px -55.66667px #ee00ff, 106px -393.66667px #0073ff, 242px -325.66667px #a2ff00, 165px -57.66667px yellow, -73px 31.33333px #3300ff, -22px -61.66667px #0044ff, -7px -163.66667px #0059ff, 25px -296.66667px #00eeff, -209px -148.66667px #00ff77, 217px 76.33333px #ff1e00, -214px -18.66667px #ff0011, 18px 51.33333px deepskyblue, -172px -401.66667px #ff00c8, -67px -186.66667px #ffd500, 169px -265.66667px #00ccff, 107px -38.66667px magenta, -168px 83.33333px #b7ff00, -105px -201.66667px #ff0d00, -120px -179.66667px #00f7ff, -134px -273.66667px #4000ff, -237px -28.66667px #e6ff00;
            box-shadow: 16px -72.66667px #2200ff, 62px -73.66667px #001eff, -102px 77.33333px #2bff00, -165px -186.66667px #ff0073, 4px -306.66667px #b3ff00, -43px -256.66667px #00ff99, 72px -327.66667px #00d5ff, -88px -136.66667px #00ffa6, -212px -26.66667px #09ff00, -111px -38.66667px #3700ff, -174px -188.66667px #00ffcc, 25px -175.66667px #ff00a2, -209px -44.66667px #00ddff, -14px -285.66667px #0091ff, -34px -170.66667px #aa00ff, 38px -398.66667px #006aff, -26px 41.33333px #ea00ff, -166px -69.66667px #8800ff, -117px -74.66667px #0044ff, -181px 32.33333px #ff1500, 83px -271.66667px #ff0048, -21px -316.66667px #ff00b3, 29px -85.66667px #f7ff00, 177px 65.33333px #bb00ff, 159px -374.66667px #ae00ff, 51px -46.66667px #00ffa6, -201px 72.33333px #0011ff, -207px -65.66667px #00ff3c, 224px -390.66667px #aaff00, 46px -313.66667px #ff00a2, 59px -55.66667px #ee00ff, 106px -393.66667px #0073ff, 242px -325.66667px #a2ff00, 165px -57.66667px yellow, -73px 31.33333px #3300ff, -22px -61.66667px #0044ff, -7px -163.66667px #0059ff, 25px -296.66667px #00eeff, -209px -148.66667px #00ff77, 217px 76.33333px #ff1e00, -214px -18.66667px #ff0011, 18px 51.33333px deepskyblue, -172px -401.66667px #ff00c8, -67px -186.66667px #ffd500, 169px -265.66667px #00ccff, 107px -38.66667px magenta, -168px 83.33333px #b7ff00, -105px -201.66667px #ff0d00, -120px -179.66667px #00f7ff, -134px -273.66667px #4000ff, -237px -28.66667px #e6ff00;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */